<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a.html</title>
    <style>
    #container {
        height: 100%;
        border-collapse: collapse;
        display: table;
        height: 500px;
    }
    
    .foot {
        display: table-row;
        vertical-align: bottom;
        height: 1px;
        background-color: #f0f;
    }
    </style>
</head>

<body>
    <div id="container">
        Some content you don't want affected by the "bottom floating" div
        <div>supports not just text</div>
        <div class="foot">
            Some other content you want kept to the bottom
            <div>this is in a div</div>
        </div>
    </div>
</body>

</html>