<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeiZepeng</title>
    <link rel="stylesheet" href="/stylesheets/mycss.css">
    <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" media="all" /> -->
    <style type="text/css" media="screen, print, projection">
    </style>
</head>

<body>
    <div class="main_container">
        <div class="top_container">
            <div class="avatar_container">
                <div class="portrait">
                    <img src="/images/200w.gif">
                </div>
                <div class="name">
                    <span>Adam Wei</span>
                </div>
            </div>
            <div class="intro">
                <p>I am a Coder and trying to be a Programer, Writer and Creator. I like reading wonderfulz stories. 
                <br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum facilis amet perspiciatis ab consequuntur ad, quibusdam quod nulla corporis minus velit reiciendis, placeat id? Dicta quo aperiam vitae quos.</p>
            </div>
        </div>
        <a href="../">
            <div class="row_container" style="background: url('/images/category_2.jpg');">
                <div class ="row_container_bg"></div>
                <div class="cover_overlay"></div>
                <div class="row_text">
                    <span class="category_name">Story</span>
                    <span class="category_meta">15th Dec, 2016</span>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row_container" style="background: url('/images/category_2.jpg');">
                <div class ="row_container_bg"></div>
                <div class="cover_overlay"></div>
                <div class="row_text">
                    <span class="category_name">Blog</span>
                    <span class="category_meta">15th Dec, 2016</span>
                </div>
            </div>
        </a>
        <a href="/tips">
            <div class="row_container" style="background: url('/images/category_2.jpg');">
                <div class ="row_container_bg"></div>
                <div class="cover_overlay"></div>
                <div class="row_text">
                    <span class="category_name">Tip</span>
                    <span class="category_meta">15th Dec, 2016</span>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="row_container" style="background: url('/images/category_2.jpg');">
                <div class ="row_container_bg"></div>
                <div class="cover_overlay"></div>
                <div class="row_text">
                    <span class="category_name">Photo</span>
                    <span class="category_meta">15th Dec, 2016</span>
                </div>
            </div>
        </a>
        <div class="footer_container">
            <div class="copyright_content">
                <p>Copyrights © 2016 by <a href="#">WeiZepeng</a> All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>