<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="http://www.weizepeng.com">我的简单网站</a></h3>用Jekyll撘的</li>
  <li><h3><a href="http://menkey-league.herokuapp.com">早期的个人网站</a></h3>Ruby搭的</li>
</ul>
<%- include footer %>