<%- include tips_header %>
<form method="post">
	标题：<br />
	<input type="text" name="title" /><br />
	<input type="text" name="tag1" /><input type="text" name="tag2" /><input type="text" name="tag3" /><br />
	正文：<br />
	<textarea name="content" rows="20" cols="100"></textarea><br />
	<input type="submit" value="Submit" />
</form>

</article>
<script type="text/javascript">
var textareas = document.getElementsByTagName('textarea');
var count = textareas.length;
for(var i=0;i<count;i++){
    textareas[i].onkeydown = function(e){
        if(e.keyCode==9 || e.which==9){
            e.preventDefault();
            var s = this.selectionStart;
            this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
            this.selectionEnd = s+1; 
        }
    }
}
</script>
</body>
</html>