<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
    <link rel="stylesheet" href="/stylesheets/tips_css.css">

</head>

<body>
    <div class="main_container">
        <div class="col-9 row_head" style="float: right;">
            <h1 class="row_title"><%= title %></h1>
            <div class="row_menu">
                <span><a title="New" href="/tips/new">New</a></span>
                <span><a title="Search" href="#">Search</a></span>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div>
            <div class="col-3 menu_container">
                <span><a title="首页" href="/tips">home</a></span>
                <span><a title="标签" href="/tips/tags">tags</a></span>
                <span><a title="存档" href="/tips/archive">archive</a></span>
            </div>
            <div class="col-9 content_container" style="float: right;">
                <article>
                    <div>
                        <% if (success) { %>
                            <div class="alert_row">
                                <%= success %>
                            </div>
                        <% } %>
                        <% if (error) { %>
                            <div class="alert_row">
                                <%= error %>
                            </div>
                        <% } %>
                    </div>

